@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
    background: white;
    font-family: 'Open Sans', sans-serif;
}

.container {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;

}

.container1 {
    margin-left: 30%;
    margin-right: 30%;
}

a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

h1 {
    color: black;
    font-size: 58px;
    font-weight: bolder;

}

h2 {
    margin-left: 25px;
    font-size: 18px;
    font-weight: 28%;
    color: rgb(58, 57, 57);
}

.td1 {
    border-left: 2px solid rgba(194, 194, 194, 0.753);
}

img {
    margin-top: 40px;
    margin-bottom: 40px;
}

span { 
    font-size: 50px;
    font-weight: bolder;
    float: left;
    margin: -12px 10px -12px 0px;

}
